{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>GameVot.com | Rankings</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' with categories=categories %}
    <div class="container">
        <div class="row">
            <h1 class="text-center mt-4 mb-3" style="color: #dc3545;">Best games of GameVot.com database</h1>
            <hr>
        </div>
        <div class="row justify-content-center mt-3">
            {% for game in best_games %}
                <div class="card mt-3 text-center mx-3" style="width: 18rem; padding: 5px;">
                    <b class="my-1">{{ forloop.counter }}</b>
                    <img src="{{ game.cover.url }}" class="card-img-top" height="347px" alt="...">
                    <div class="card-body justify-content-center">
                        <h4 class="card-title">{{ game.title }}</h4>
                        <small style="display: block;">{{ game.producer.name }}</small>
                        <a href="{% url 'games:game_page' game.slug %}" class="btn btn-danger mt-3">Watch game</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h1 class="text-center mt-4 mb-3" style="color: #dc3545;">Most popular games of GameVot.com database</h1>
            <hr>
        </div>
        <div class="row justify-content-center mt-3">
            {% for game in most_popular %}
                <div class="card mt-3 text-center mx-3" style="width: 18rem; padding: 5px;">
                    <b class="my-1">{{ forloop.counter }}</b>
                    <img src="{{ game.cover.url }}" class="card-img-top" height="347px" alt="...">
                    <div class="card-body justify-content-center">
                        <h4 class="card-title">{{ game.title }}</h4>
                        <small style="display: block;">{{ game.producer.name }}</small>
                        <a href="{% url 'games:game_page' game.slug %}" class="btn btn-danger mt-3">Watch game</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h1 class="text-center mt-4 mb-3" style="color: #dc3545;">Most commented games of GameVot.com database</h1>
            <hr>
        </div>
        <div class="row justify-content-center mt-3" style="margin-bottom: 100px;">
            {% for game in most_commented %}
                <div class="card mt-3 text-center mx-3" style="width: 18rem; padding: 5px;">
                    <b class="my-1">{{ forloop.counter }}</b>
                    <img src="{{ game.cover.url }}" class="card-img-top" height="347px" alt="...">
                    <div class="card-body justify-content-center">
                        <h4 class="card-title">{{ game.title }}</h4>
                        <small style="display: block;">{{ game.producer.name }}</small>
                        <a href="{% url 'games:game_page' game.slug %}" class="btn btn-danger mt-3">Watch game</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}