{% extends 'base_index.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}
    <title>GameVot.com | Sign up</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' with categories=categories %}

    <div class="card text-white bg-danger col-md-5 mx-auto text-center" style="margin-top: 33px;">
        <div class="card-header"><h3>Sign up</h3></div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {% if field.name == 'avatar' %}
                            <p style="margin-left: 30px;">
                                {{ field.label }}
                                {{ field }}
                            </p>
                        {% else %}
                            {{ field|bootstrap }}
                        {% endif %}
                    </p>
                {% endfor %}
                <p>Already have account? Click here to <a href="{% url 'users:login' %}">log in</a></p>
                <button class="btn btn-light" style="color: #dc3545; margin-top: 10px; margin-bottom: 10px;" type="submit" name="signup">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}