{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>GameVot.com | {{ game.title }}</title>
{% endblock %}

{% block styles %}
    <style>
        .star {
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'navbar.html' with categories=categories %}
    <div class="container">
        <div class="row">
            <div class="card mt-5 col-md-12">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ game.cover.url }}" class="img-fluid rounded-start" alt="..." style="width: 300px; height: 400px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title text-center">{{ game.title }} - {{ game.producer.name }}</h1>
                            <p class="card-text mt-3">{{ game.description }}</p>
                            <h3 class="card-text" style="position: absolute;bottom: 0; margin-bottom: 35px;">{{ game.avg_rate }}</h3>
                            <p class="card-text">
                                {% for category in game.category.all %}
                                    <small class="text-muted" style="position: absolute; bottom: 0; right: 30px; margin-bottom: 10px;">{{ category.name }}</small>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if request.user.is_authenticated %}
            {% if user_rate %}
                <div class="d-flex justify-content-end mt-2">
                    {% for star in rate_scale %}
                        <a class="star {% if star <= user_rate.first.rate %}fas fa-star{% else %}far fa-star{% endif %}" href="{% url 'reviews:rate_game' game.id star %}"></a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="d-flex justify-content-end mt-2">
                    {% for star in rate_scale %}
                        <a class="star far fa-star" href="{% url 'reviews:rate_game' game.id star %}"></a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-9 mt-5 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h5>Write your review</h5>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    {{ field }}
                                {% endfor %}
                                <button class="btn btn-danger" style="margin-top: 20px; float: right; margin-right: 40px;" type="submit">Review</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row" style="margin-bottom: 150px;">
            {% for review in reviews %}
                <div class="card col-md-8 mx-auto mt-4">
                    <div class="card-header">
                        <h5 style="display: inline;">{{ review.user.username }}</h5>
                        <small style="float: right;">{{ review.created_at }}</small>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ review.text }}</p>
                     </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}