{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>GameVot.com | {{ game.title }}</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' with categories=categories %}
    <div class="container">
        <div class="row">
            <div class="card mt-5 col-md-12">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ game.cover.url }}" class="img-fluid rounded-start" alt="..." style="width: 300px; height: 400px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title text-center">{{ game.title }} - {{ game.producer.name }}</h1>
                            <p class="card-text mt-3">{{ game.description }}</p>
                            <p class="card-text">
                                {% for category in game.category.all %}
                                    <small class="text-muted" style="position: absolute; bottom: 0; right: 30px; margin-bottom: 10px;">{{ category.name }}</small>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}