{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>GameVot.com | Edit review</title>
{% endblock %}

{% block content %}
    {% include 'navbar.html' with categories=categories %}
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-9 mt-5 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h5>Edit your review</h5>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    {{ field }}
                                {% endfor %}
                                <button class="btn btn-danger" style="margin-top: 20px; float: right; margin-right: 40px;" type="submit">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}